a {
  text-decoration: none;
}

.form {
  padding: 2rem 1rem;
}

.header {
  text-align: center;
  font-family: var(--header-font);
  font-size: 5ch;
  color: var(--highlight-bgcolor);
}

.event-box {
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--main-bgcolor);
  margin: 2rem auto 0;
  max-width: max-content;
  min-width: 34rem;
  box-shadow: 0 0 10px -8px rgba(0, 0, 0, 0.426);
  text-align: center;
}

.event-box h4 {
  font-family: var(--header-font);
  font-size: 3ch;
}

.event-box p {
  margin-top: 0.5rem;
  font-family: var(--paragraph-font);
}

form {
  max-width: max-content;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background-color: var(--main-bgcolor);
  padding: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px -8px rgba(0, 0, 0, 0.426);
}

.input {
  display: grid;
  gap: 0.8rem;
}

form button,
.note {
  grid-column: 1/3;
}

label {
  color: #212121;
  font-family: var(--links-font);
}

input,
select {
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  font-family: var(--paragraph-font);
  font-size: 2ch;
  background-color: var(--sec-bgcolor);
}

input:focus,
select:focus {
  outline: 2px solid var(--highlight-bgcolor);
}

form button {
  margin-top: 1rem;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.3rem;
  font-family: var(--header-font);
  font-size: 2.5ch;
  background-color: var(--highlight-bgcolor);
  color: var(--main-bgcolor);
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .form > h1 {
    font-size: 4ch;
    margin: 2rem auto 0;
  }

  #back {
    top: 1rem;
    left: 1rem;
  }

  form {
    grid-template-columns: 1fr;
    min-width: 60vw;
  }

  form button,
  .note,
  .mpesa,
  .more-inputs,
  .more-people {
    grid-column: 1/2;
  }

  .more-inputs {
    grid-template-columns: repeat(1, 1fr);
  }

  .more-inputs h4 {
    grid-column: 1/2;
  }
}

@media screen and (max-width: 400px) {
  .form > h1 {
    font-size: 3ch;
    margin: 2rem auto 0;
  }

  form {
    padding: 1rem;
  }

  input {
    width: 100%;
  }
}
