body {
  background-color: var(--main-bgcolor);
}

.container {
  min-height: 15rem;
  max-height: 15rem;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.heading {
  padding: 2rem;
  flex-grow: 1;
  text-align: center;
}

.heading h1 {
  font-family: var(--header-font);
  font-size: 8ch;
  color: var(--main-bgcolor);
}

.heading h4 {
  font-family: var(--paragraph-font);
  color: var(--sec-bgcolor);
}
