.event-header {
  padding: 1rem 2rem;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-header-info {
  color: var(--main-bgcolor);
  text-align: center;
}

.event-header-info h1 {
  font-size: 5ch;
}

.event-header-info h4 {
  font-size: 3ch;
  color: var(--sec-bgcolor);
}

.event-box {
  display: grid;
  grid-template-columns: 1fr 30rem;
  gap: 2rem;
  padding: 2rem;
}

.event-description,
.event-details {
  padding: 1rem;
}

.event-description h1,
.event-details h1 {
  margin-bottom: 0.5rem;
}

.event-details {
  background-color: var(--main-bgcolor);
  border-radius: 0.3rem;
}

.event-details-info {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.event-dates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.event-actions {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-actions button {
  background-color: var(--highlight-bgcolor);
  padding: 0.5em 1em;
  border-radius: 30rem;
  color: var(--main-bgcolor);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.event-actions button img {
  max-height: 1.5rem;
}

.event-actions button:disabled {
  background-color: grey;
  cursor: auto;
}

.edit-btns {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.edit-btns img {
  max-height: 2rem;
}

@media screen and (max-width: 1000px) {
  .event-box {
    grid-template-columns: 1fr 25rem;
  }

  .event-dates p {
    display: grid;
  }
}

@media screen and (max-width: 900px) {
  .event-box {
    grid-template-columns: 1fr;
  }

  .event-description {
    padding-inline: 0;
  }

  .event-dates p {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .event-header-info h1 {
    font-size: 3.5ch;
  }

  .event-header-info h4 {
    font-size: 2.5ch;
  }

  .event-box,
  .event-header {
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .event-dates p {
    display: grid;
  }
}

@media screen and (max-width: 400px) {
  .event-header-info h1 {
    font-size: 3ch;
  }

  .event-header-info h4 {
    font-size: 2ch;
  }

  .event-description h1,
  .event-details h1 {
    font-size: 2.5ch;
  }

  .event-description p,
  .event-dates p {
    font-size: 1.8ch;
  }

  .edit-btns {
    gap: 1rem;
  }
}
