::-webkit-scrollbar {
  background-color: var(--sec-bgcolor);
  max-width: 0.3rem;
}

.events {
  margin-top: 1rem;
  padding: 0 2rem;
  position: relative;
}

.menu-box {
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--main-bgcolor);
  border-radius: 30rem;
  padding: 0.4rem 1rem;
}

.img-box {
  cursor: pointer;
}

.img-box img {
  max-height: 1.2rem;
}

.line {
  height: 1rem;
  width: 0.1rem;
  background-color: #212121;
}

#header {
  font-family: var(--header-font);
  display: flex;
  align-items: center;
  gap: 1rem;
}

#event-link {
  padding: 0.6em 0.8em;
  background-color: var(--highlight-bgcolor);
  border-radius: 30rem;
  color: var(--main-bgcolor);
  font-family: var(--paragraph-font);
  font-size: 1.5ch;
}

#no-events {
  font-family: var(--paragraph-font);
  color: red;
}

.all-events {
  margin-top: 1rem;
  max-height: 40rem;
  overflow: hidden;
  padding: 0.3rem;
}

.events-box {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  min-height: max-content;
  max-height: 40rem;
  padding-right: 0.3rem;
  padding-bottom: 3rem;
  overflow: scroll;
}

.event {
  border-radius: 0.2rem;
  background-color: var(--main-bgcolor);
  overflow: hidden;
  display: flex;
}

.image-box {
  max-height: 100%;
  max-width: 20rem;
  overflow: hidden;
}

.image-box img {
  height: 100%;
  width: 20rem;
  object-fit: cover;
  object-position: center;
}

.event-info {
  padding: 1rem;
  width: 100%;
}

.event-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-header h1 {
  font-family: var(--header-font);
  font-size: 4ch;
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #212121;
}

.ongoing {
  color: green;
  font-family: var(--header-font);
}

#ongoing {
  opacity: 0;
  animation: fade 1.3s infinite forwards;
}

#ongoing:nth-child(2) {
  animation-delay: 0.2s;
}

#ongoing:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.event-loc {
  font-family: var(--header-font);
  font-size: 2.2ch;
  margin: 1rem 0;
  color: var(--highlight-bgcolor);
  display: grid;
  gap: 0.5rem;
}

.event-loc > span {
  font-size: 1ch;
  font-family: var(--paragraph-font);
  background-color: green;
  color: var(--sec-bgcolor);
  padding: 0.2rem 0.6rem;
  border-radius: 30rem;
  max-width: max-content;
}

.event-info hr {
  margin: 1rem 0 0.5rem;
  border: none;
  outline: 1px solid var(--sec-bgcolor);
}

.event-dates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  font-family: var(--links-font);
  font-size: 1.8ch;
  color: #212121;
}

.tickets-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.tickets-price {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: greenyellow;
  padding: 0 0.8rem;
  max-width: max-content;
  border-radius: 30rem;
  color: #212121;
}

.tickets-price img {
  max-height: 2rem;
}

.tickets-price h4 {
  font-size: 2ch;
  font-family: var(--links-font);
}

.tickets {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#tickets {
  padding: 0.4rem 0.6rem;
  border-radius: 30rem;
  border: none;
  background-color: var(--highlight-bgcolor);
  cursor: pointer;
}

#tickets a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-family: var(--paragraph-font);
  color: var(--main-bgcolor);
  color: white;
  font-size: 2ch;
}

#ticket img,
#tickets img {
  max-height: 1.5rem;
}
