::-webkit-scrollbar {
  background-color: var(--sec-bgcolor);
  max-width: 0.3rem;
}

.events {
  margin-top: 1rem;
  padding: 0 2rem;
  position: relative;
}

.menu-box {
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--main-bgcolor);
  border-radius: 30rem;
  padding: 0.4rem 1rem;
}

.img-box {
  cursor: pointer;
}

.img-box img {
  max-height: 1.2rem;
}

.line {
  height: 1rem;
  width: 0.1rem;
  background-color: #212121;
}

#header {
  font-family: var(--header-font);
  display: flex;
  align-items: center;
  gap: 1rem;
}

#header > #event-link {
  padding: 0.6em 0.8em;
  background-color: var(--highlight-bgcolor);
  border-radius: 30rem;
  color: var(--main-bgcolor);
  font-family: var(--paragraph-font);
  font-size: 0.6ch;
}

.all-events {
  margin-top: 1rem;
  max-height: 40rem;
  overflow: hidden;
}

.events-box {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  max-height: 39rem;
  padding-right: 0.3rem;
  overflow: scroll;
}

.event {
  border-radius: 0.2rem;
  background-color: var(--main-bgcolor);
  overflow: hidden;
  display: flex;
}

.image-box {
  max-height: 100%;
  max-width: 20rem;
  overflow: hidden;
}

.image-box img {
  height: 100%;
  width: 20rem;
  object-fit: cover;
  object-position: center;
}

.event-info {
  padding: 1rem;
  width: 100%;
}

.event-header h1 {
  font-family: var(--header-font);
  font-size: 4ch;
}

.event-header h4 {
  font-size: 2.2ch;
  font-family: var(--links-font);
  font-weight: lighter;
}

.event-loc {
  font-family: var(--header-font);
  font-size: 2.2ch;
  margin: 1rem 0;
  color: var(--highlight-bgcolor);
}

.event-info hr {
  margin: 1rem 0 0.5rem;
  border: none;
  outline: 1px solid var(--sec-bgcolor);
}

.event-dates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  font-family: var(--links-font);
  font-size: 1.8ch;
}

.tickets-box {
  display: grid;
  align-items: center;
  gap: 0.5rem;
}

.tickets-price {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: greenyellow;
  padding: 0 0.8rem;
  max-width: max-content;
  border-radius: 30rem;
}

.tickets-price img {
  max-height: 2rem;
}

.tickets-price h4 {
  font-size: 2ch;
  font-family: var(--links-font);
}

.tickets {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#tickets {
  padding: 0.6rem;
  flex-grow: 1;
  border-radius: 30rem;
  border: none;
  background-color: var(--highlight-bgcolor);
  cursor: pointer;
}

#tickets:nth-child(2) {
  background-color: teal;
}

#tickets:nth-child(3) {
  background-color: red;
}

#tickets a {
  font-family: var(--paragraph-font);
  text-align: center;
  color: var(--main-bgcolor);
  color: white;
  font-size: 2ch;
}
