{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/book.css">
{% endblock %}

{% block title %}
{{ event.name }}
{% endblock %}

{% block body %}
<div class="form">
  <h1 class="header">Book your slot now</h1>
  <div class="event-box">
    <h4>{{ event.name }}</h4>
    <p>
      {{ event.date.strftime("%d/%m/%Y") }}
      at
      {{ event.time.strftime("%I:%M %p") }}
    </p>
  </div>
  <form action="{{ url_for('tickets', event_id=event.id) }}" method="post">
    <div class="input note">
      <label for="tickets">No of tickets</label>
      <input name="tickets" required type="number" id="tickets" placeholder="No of tickets">
    </div>
    <div class="input">
      <label for="fname">First Name</label>
      <input name="fname" required type="text" id="fname" placeholder="First Name">
    </div>
    <div class="input">
      <label for="surname">Last Name</label>
      <input name="sname" required type="text" id="surname" placeholder="Last Name">
    </div>
    <div class="input">
      <label for="email">Email Address</label>
      <input name="email" required type="email" id="email" placeholder="Email Address">
    </div>
    <div class="input">
      <label for="phone">Phone Number</label>
      <input name="phone" required type="number" id="phone" placeholder="Phone Number">
    </div>
    <!-- <div class="more-inputs"></div>
  <div class="more-people">
    <p>+ Add person</p>
  </div> -->
    <button id="submit" type="submit">Book</button>
  </form>
</div>
{% endblock %}