{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/event.css">
{% endblock %}

{% block title %}
Create Event
{% endblock %}

{% block body %}
<div class="event-registration">
  <h1>Tell us about your event</h1>
  <form action="{{ url_for('create_event') }}" method="post">
    <div class="input extend">
      <label for="event-name">Event Name</label>
      <input required type="text" name="event-name" id="event-name" placeholder="Name of the event">
    </div>
    <div class="input">
      <label for="event-date">Event Date</label>
      <input required type="date" name="event-date" id="event-date">
    </div>
    <div class="input">
      <label for="event-time">Start Time</label>
      <input required type="time" name="event-time" id="event-time">
    </div>
    <div class="input">
      <label for="event-loc">Event Location</label>
      <input required type="text" name="location" id="event-loc" placeholder="Event Venue">
    </div>
    <div class="input">
      <label for="event-price">Event Price</label>
      <input required type="number" name="price" id="event-price" placeholder="Event Price">
    </div>
    <div class="input extend">
      <label for="tickets">Available tickets</label>
      <input required type="number" name="tickets" id="tickets" placeholder="No of available tickets">
    </div>
    <button class="extend" type="submit">Create Event</button>
  </form>
</div>
{% endblock %}