{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/event.css">
{% endblock %}

{% block title %}
{{ event.name }}
{% endblock %}

{% block body %}
<div class="container">
  <div class="event-header">
    <div class="event-header-info">
      <h1>{{ event.name }}</h1>
      <h4>{{ event.tagline }}</h4>
    </div>
  </div>
  <div class="event-box">
    <div class="event-description">
      <h1>Event Description</h1>
      <p>{{ event.description }}</p>
    </div>
    <div class="event-details">
      <h1>Event Details</h1>
      <div class="event-details-info">
        <div class="event-location">
          <h4>Location</h4>
          <p>{{ event.location }}</p>
        </div>
        <div class="event-dates">
          <p>Start Date: <b>{{ event.start_date.strftime("%d/%m/%Y") }}</b></p>
          <p>End Date: <b>{{ event.end_date.strftime("%d/%m/%Y") }}</b></p>
          <p>Start Time: <b>{{ event.start_time.strftime("%I:%M %p") }}</b></p>
          <p>End Time: <b>{{ event.end_time.strftime("%I:%M %p") }}</b></p>
        </div>
        <div class="event-actions">
          <div class="tickets-btn">
            {% if event.status == "Sold Out" %}
            <button disabled>
              <img src="{{ url_for('static', filename='Images/tickets.png') }}" alt="Edit Event">
              Sold Out
            </button>
            {% elif event.status == "Ended" %}
            <button disabled="disabled">
              <img src="{{ url_for('static', filename='Images/tickets.png') }}" alt="Edit Event">
              Ended
            </button>
            {% else %}
            <a href="{{ url_for('users.tickets', event_id=event.id) }}">
              <button>
                <img src="{{ url_for('static', filename='Images/tickets.png') }}" alt="Edit Event">
                Buy Ticket
              </button>
            </a>
            {% endif %}
          </div>
          {% if event.user == current_user.id %}
          <div class="edit-btns">
            <a href="{{ url_for('admin.edit_event', event_id=event.unique_id) }}">
              <img src="../static/images/editing.png" alt="">
            </a>
            <a href="{{ url_for('admin.delete_event', event_id=event.unique_id) }}">
              <img src="../static/images/delete.png" alt="">
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="../static/js/auth.js"></script>
{% endblock %}