{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="events">
  <div class="menu-box">
    <div class="menu-items">
      <div id="defaultOpen" class="img-box tablinks" onclick="openView(event, 'upcoming')">
        <img src="{{ url_for('static', filename='images/upcoming.png') }}" alt="upcoming event">
      </div>
      <div class="line"></div>
      <div class="img-box tablinks" onclick="openView(event, 'past')">
        <img src="{{ url_for('static', filename='images/past.png') }}" alt="upcoming event">
      </div>
    </div>
    {% if current_user.role == 1 %}
    <a id="event-link" href="{{ url_for('admin.create_event') }}">Create Event</a>
    {% endif %}
  </div>
  <div class="all-events">
    <div id="upcoming" class="tabcontent">
      <h1 id="header">Upcoming Events</h1>
      <div class="events-box">
        {% set upcoming_events = [] %}
        {% for event in events if event.status == "Active" or event.status == "Sold Out" %}
        {{ upcoming_events.append(event) or "" }}
        {% endfor %}
        {% if upcoming_events %}
        {% for event in upcoming_events|sort(attribute='start_date') %}
        <div class="event">
          <div class="image-box">
            <img src="../static/images/banner.png" alt="event-img">
          </div>
          <div class="box">
            <a href="{{ url_for('users.event_details', event_id=event.id) }}">
              <div class="event-info">
                <div class="event-header">
                  <h1>{{ event.name }}</h1>
                  {% if (event.start_date < today and event.start_time.strftime("%H:%M") <
                    current_time.strftime("%H:%M")) or (event.start_date==today and event.start_time.strftime("%H:%M") <
                    current_time.strftime("%H:%M")) %} <p class="ongoing">
                    Ongoing
                    <span id="ongoing">.</span>
                    <span id="ongoing">.</span>
                    <span id="ongoing">.</span>
                    </p>
                    {% endif %}
                </div>
                <p class="event-loc">
                  Location: {{ event.location }}
                  {% if event.tickets
                  < 10 %} <span id="selling-out">Almost selling out
                    </span>
                    {% endif %}
                </p>
                <div class="event-dates">
                  <p>Start Date: <b>{{ event.start_date.strftime("%d/%m/%Y") }}</b></p>
                  <p>End Date: <b>{{ event.end_date.strftime("%d/%m/%Y") }}</b></p>
                  <p>Start Time: <b>{{ event.start_time.strftime("%I:%M %p") }}</b></p>
                  <p>End Time: <b>{{ event.end_time.strftime("%I:%M %p") }}</b></p>
                </div>
                <hr>
                <div class="tickets-box">
                  <div class="tickets-price">
                    <img src="../static/images/voucher.png" alt="ticket">
                    <h4>Ksh 0</h4>
                  </div>
                  <div class="tickets">
                    {% if event.status == "Sold Out" %} <button id="tickets" disabled>
                      <img src="{{ url_for('static', filename='Images/tickets.png') }}" alt="Edit Event">
                      Sold Out
                    </button>
                    {% else %}
                    <a id="tickets" href="{{ url_for('users.tickets', event_id=event.id) }}">
                      <button>
                        <img src="{{ url_for('static', filename='Images/tickets.png') }}" alt="">
                        Buy Ticket
                      </button>
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p id="no-events">No Upcoming Events</p>
        {% endif %}
      </div>
    </div>
    <div id="past" class="tabcontent">
      <h1 id="header">Past Events</h1>
      <div class="events-box">
        {% set past_events = [] %}
        {% for event in events if event.status == "Ended" %}
        {{ past_events.append(event) or "" }}
        {% endfor %}
        {% if past_events %}
        {% for event in past_events|sort(attribute='start_date') %}
        <div class="event">
          <div class="image-box">
            <img src="../static/images/banner.png" alt="event-img">
          </div>
          <div class="box">
            <a href="{{ url_for('users.event_details', event_id=event.id) }}">
              <div class="event-info">
                <div class="event-header">
                  <h1>{{ event.name }}</h1>
                </div>
                <p class="event-loc">
                  Location: {{ event.location }}
                </p>
                <div class="event-dates">
                  <p>Start Date: <b>{{ event.start_date.strftime("%d/%m/%Y") }}</b></p>
                  <p>End Date: <b>{{ event.end_date.strftime("%d/%m/%Y") }}</b></p>
                  <p>Start Time: <b>{{ event.start_time.strftime("%I:%M %p") }}</b></p>
                  <p>End Time: <b>{{ event.end_time.strftime("%I:%M %p") }}</b></p>
                </div>
                <hr>
                <div class="tickets-box">
                  <div class="tickets-price">
                    <img src="../static/images/voucher.png" alt="ticket">
                    <h4>Ksh 0</h4>
                  </div>
                  {% if event.status == "Ended" %}
                  <button disabled id="tickets">
                    <img src="{{ url_for('static', filename='Images/tickets.png') }}" alt="Edit Event">
                    Ended
                  </button>
                  {% endif %}
                </div>
              </div>
          </div>
          </a>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p id="no-events">No Past Events</p>
      {% endif %}
    </div>
  </div>
</div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}