{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="events">
  <div class="menu-box">
    <div class="menu-items">
      <div id="defaultOpen" class="img-box tablinks" onclick="openView(event, 'upcoming')">
        <img src="{{ url_for('static', filename='images/upcoming.png') }}" alt="upcoming event">
      </div>
      <div class="line"></div>
      <div class="img-box tablinks" onclick="openView(event, 'past')">
        <img src="{{ url_for('static', filename='images/past.png') }}" alt="upcoming event">
      </div>
    </div>
    {% if current_user.role == 1 %}
    <a id="event-link" href="{{ url_for('create_event') }}">Create Event</a>
    {% endif %}
  </div>
  <div class="all-events">
    <div id="upcoming" class="tabcontent">
      <h1 id="header">
        Upcoming Events
      </h1>
      <div class="events-box">
        {% for event in events|sort(attribute='start_date') if event.status == "Active" %}
        <div class="event">
          <div class="image-box">
            <img src="../static/images/banner.png" alt="event-img">
          </div>
          <div class="event-info">
            <div class="event-header">
              <h1>{{ event.name }}</h1>
              {% if (event.start_date < today and event.start_time.strftime("%H:%M") < current_time.strftime("%H:%M"))
                or (event.start_date==today and event.start_time.strftime("%H:%M") < current_time.strftime("%H:%M")) %}
                <p class="ongoing">
                Ongoing
                <span id="ongoing">.</span>
                <span id="ongoing">.</span>
                <span id="ongoing">.</span>
                </p>
                {% endif %}
            </div>
            <p class="event-loc">
              Location: {{ event.location }}
              <span>
                {{ "{:,}".format(event.tickets) }}
                {% if event.tickets == 1 %}
                ticket{% else %}tickets{% endif %}
                remaining
              </span>
            </p>
            <div class="event-dates">
              <p>Start Date: <b>{{ event.start_date.strftime("%d/%m/%Y") }}</b></p>
              <p>End Date: <b>{{ event.end_date.strftime("%d/%m/%Y") }}</b></p>
              <p>Start Time: <b>{{ event.start_time.strftime("%I:%M %p") }}</b></p>
              <p>End Time: <b>{{ event.end_time.strftime("%I:%M %p") }}</b></p>
            </div>
            <hr>
            <div class="tickets-box">
              <div class="tickets-price">
                <img src="../static/images/voucher.png" alt="ticket">
                <h4>
                  {% if event.price < 100 %} Free {% else %} {{ "Ksh {:,}" .format(event.price) }} {% endif %} </h4>
              </div>
              <div class="tickets">
                <button id="tickets">
                  <a href="{{ url_for('tickets', event_id=event.id) }}">
                    <img src="{{ url_for('static', filename='Images/tickets.png') }}" alt="Edit Event">
                    Get Tickets
                  </a>
                </button>
                {% if current_user.role == 1 and event.user == current_user.id %}
                <a id="ticket" href="{{ url_for('edit_event', event_id=event.unique_id) }}">
                  <img src="{{ url_for('static', filename='Images/editing.png') }}" alt="Edit Event">
                </a>
                <!-- <a id="ticket" href="{{ url_for('delete_event', event_id=event.unique_id) }}">
                  <img src="{{ url_for('static', filename='Images/delete.png') }}" alt="Edit Event">
                </a> -->
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div id="past" class="tabcontent">
      <h1 id="header">
        Past Events
      </h1>
      <div class="events-box">
        {% for event in events|sort(attribute='end_date', reverse=True) if event.status == "Ended" %}
        <div class="event">
          <div class="image-box">
            <img src="../static/images/banner.png" alt="event-img">
          </div>
          <div class="event-info">
            <div class="event-header">
              <h1>{{ event.name }}</h1>
            </div>
            <p class="event-loc">Location: {{ event.location }}</p>
            <div class="event-dates">
              <p>Start Date: <b>{{ event.start_date.strftime("%d/%m/%Y") }}</b></p>
              <p>End Date: <b>{{ event.end_date.strftime("%d/%m/%Y") }}</b></p>
              <p>Start Time: <b>{{ event.start_time.strftime("%I:%M %p") }}</b></p>
              <p>End Time: <b>{{ event.end_time.strftime("%I:%M %p") }}</b></p>
            </div>
            <hr>
            <div class="tickets-box">
              <div class="tickets-price">
                <img src="../static/images/voucher.png" alt="ticket">
                <h4>
                  {% if event.price < 100 %} Free {% else %} {{ "Ksh {:,}" .format(event.price) }} {% endif %} </h4>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}