{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="events">
  <h1 id="header">
    Upcoming Events
    {% if current_user.role == 1 %}
    <a id="event-link" href="{{ url_for('create_event') }}">Create Event</a>
    {% endif %}
  </h1>
  <div class="events-box">
    {% for event in events %}
    <div class="event">
      <div class="image-box">
        <img src="../static/images/banner-tablet.png" alt="event-img">
      </div>
      <div class="event-info">
        <h4>{{ event.name }}</h4>
        <p>{{ event.location }}</p>
        <div class="event-dates">
          <p>Date: <b>{{ event.date.strftime("%d/%m/%Y") }}</b></p>
          <p>Time: <b>{{ event.time.strftime("%I:%M %p") }}</b></p>
        </div>
        <hr>
        <div class="tickets-box">
          <p>Ksh <span>{{ "{:,}".format(event.price) }}</span></p>
          <a id="tickets" href="{{ url_for('tickets', event_id=event.id) }}">Get Tickets</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}