{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/orders.css">
{% endblock %}

{% block title %}
Orders
{% endblock %}

{% block body %}
<div class="container">
  <h1>My Tickets</h1>
  <div class="orders-box">
    {% for booking in bookings %}
    <div class="orders">
      <div class="heading">
        <h1>{{ booking.booking_owners.name }}</h1>
        {% set tickets = [] %}
        {% for qrcode in qrcodes if qrcode.booking == booking.id %}
        {{ tickets.append(qrcode) or "" }}
        {% endfor %}
        <p>{{ tickets|count }} ticket(s)</p>
      </div>
      <hr>
      <div class="order-details">
        {% for ticket in tickets %}
        <div class="tickets">
          <img
            src="https://{{ ticket.bucket }}.s3.{{ ticket.region }}.amazonaws.com/{{ ticket.qrcode_event.name }}/{{ ticket.unique_id }}.png"
            alt="{{ ticket.unique_id }}">
          <a download
            href="https://{{ ticket.bucket }}.s3.{{ ticket.region }}.amazonaws.com/{{ ticket.qrcode_event.name }}/{{ ticket.unique_id }}.png">Download
            Ticket</a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}