{% extends 'layout.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block title %}
Registration
{% endblock %}

{% block body %}
<div class="form">
  <h4>Sign Up</h4>
  <form method="post">
    {{ form.csrf_token }}
    <div class="input">
      {{ form.first_name.label }}
      {{ form.first_name(placeholder="Enter First Name", class="name") }}
    </div>
    <div class="input">
      {{ form.surname.label }}
      {{ form.surname(placeholder="Enter Surname", class="name") }}
    </div>
    <div class="input">
      {{ form.email_address.label }}
      {{ form.email_address(placeholder="Enter Email Address", class="name") }}
    </div>
    <div class="input">
      {{ form.phone_number.label }}
      {{ form.phone_number(placeholder="Enter Phone Number", class="name") }}
    </div>
    <div class="input two">
      {{ form.account.label }}
      {{ form.account }}
    </div>
    <div class="input">
      {{ form.password.label }}
      {{ form.password(placeholder="Enter Password", class="name") }}
    </div>
    <div class="input">
      {{ form.password1.label }}
      {{ form.password1(placeholder="Confirm Password", class="name") }}
    </div>
    <button class="btn" type="submit">
      <span class="button--text">SIGN UP</span>
    </button>
    <span id="info">Already have an account? <a href="{{ url_for('users.login') }}">Sign In</a></span>
  </form>
</div>

<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}